.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 1em;
}

.nav__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    padding: 1em;
    width: 100%;
}

.nav__btn {
    padding: 0.563rem 0.938rem;
    
    background-color: var(--seconday-clr);
    color: var(--terciary-clr);
    border: none;
    border-radius: 0.313rem;
    transition: all 0.3s ease 0s;
    font-size: 0.875rem;
    cursor: pointer;
}