.information__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    font-weight: var(--fw-medium);
    margin: 1rem 0 2rem 0;
}

.information__container img {
    border-radius: 100%;
}

.movie__upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    margin: 1rem 0 2rem 0;
    text-decoration-line: underline;
}

.icons__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 1rem;
}

