.btn-add-movie {
    background: black;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 auto;
    width: 14rem;
    margin-top: 2rem;
    cursor: pointer;
}