.btn__add__movie {
    padding: 1rem;
    margin: 0 auto;
    width: 14rem;
    margin-top: 2rem;
    cursor: pointer;

    color: var(--terciary-clr);
    background: var(--secondary-clr);
    font-size: 1rem;
    border-radius: 0.313rem;
}