.modal {
    margin: 0 auto;
    margin-top: 12rem;
    width: 30rem;
    height: 40rem;
    background-color: var(--primary);
}

.modal-close-btn {
    margin: 1rem;
    font-size: 1.4rem;
    width: 20px;
    height: 20px;
    color: var(--secondary);
    background-color: transparent;
    font-weight: var(--fw-bold);
}