.modal__container {
    margin: 25rem auto;
    width: 30rem;
    height: 40rem;
    border-radius: 0.5rem;

    box-shadow: 0 0 1.25rem rgba(139, 138, 138, 0.137);
    outline: 0.125rem solid var(--seconday-clr);
    z-index: 100;
    position: fixed;
    background-color:rgb(230, 225, 225)
}

.btn__close {
    margin: 1rem 1rem 2rem 1rem;
    font-size: 1.4rem;
    width: 0.125rem;

    color: rgb(0, 0, 0);
    background-color: transparent;
}

.btn__description {
    font-size: 1rem;
    text-align: left;
    font-weight: var(--fw-medium);
    padding-left: 1.875rem;
    color:rgb(0, 0, 0);
    font-weight: var(--fw-bold);

}